includes.txt
sync_changes.txt
*.o
*.out
*.swp
.vscode*
*.cpu_trace*
*.mem_trace*
*.exe*
*~
*.pyc
*.project
*.cproject
*.pkl
*.gb
*.fasta

.idea/
*ipynb_checkpoints*
434eces/labs/src/lab7/2_libertybell.wav
434eces/labs/src/lab7/clip*.wav

*pycache*
*.zip
*.tar*

*.aux
*.synctex.gz
*.log

bin
lib
share
etc
pyvenv.cfg
