includes.txt
sync_changes.txt
*.o
*.out
*.swp
.vscode*
*.cpu_trace*
*.mem_trace*
*.exe*
*~
*.pyc

*ipynb_checkpoints*
434eces/labs/src/lab7/2_libertybell.wav
434eces/labs/src/lab7/clip*.wav

*pycache*
